################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/spe-frontend
/obj
/bin
/web-app/bin/Debug/net8.0
/web-app/obj
node_modules
.angular

.fake
.DS_Store
/.vs
/appsettings.Development.json
